html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

a,
a:hover,
a:visited {
    color: #00E;
}

.scalerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.scaler {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1280;
    min-height: 720;
}
